<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"/>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"> </script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const ctx = document.getElementById('myChart').getContext('2d');
        const chartData = {{ chart_data | safe }};

        // Parse the dates to JS
        chartData.forEach((d) => {d.x = new Date(d.date);});

        // Add your javascript chart presentation below this comment
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              datasets: [{
                  label: 'number of writers',
                  data: chartData,
                  backgroundColor: 'rgba(61,61,131,0.5)',
              }]
          },
          options: {
              responsive: true,
              scales: {
                  xAxes: [{
                      type: 'time',
                      time: {
                          unit: 'day',
                          round: 'day',
                          displayFormats: {
                              day: 'MMM D',
                          },
                      },
                  }, ],
                  yAxes: [{
                      ticks: {
                          beginAtZero: true,
                      },
                  }, ],
              }
          }
      });

    });
    </script>



<div id="content-main"></div>
<canvas id="myChart" width="400" height="50"></canvas>